<h1 mat-dialog-title>Edit Trek</h1>
<div mat-dialog-content class="field">
  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="this.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Trek date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="this.date">
    <mat-hint>JJ/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker date></mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions class="button">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="save()">Save</button>

  </div>
</div>
