<mat-toolbar>
  <div>
    <button mat-icon-button
            class="example-icon"
            aria-label="ouvrir le menu"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img ngSrc="./assets/appIcon.png" alt="" width="40" height="40">
    <span>Treks view</span>
  </div>
  <div>
    <input #hiddenUploadInput style="display: none" type="file" (change)="onUpload($event)">
    <button mat-icon-button
            aria-label="ajouter un trek"
            (click)="hiddenUploadInput.click()">
      <mat-icon>upload</mat-icon>
    </button>
  </div>
  <div>
    <app-login></app-login>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <div *ngFor="let trek of trekService.trek$ | async">
      <app-trek [trek]="trek.data()" (click)="displayTrek(trek.data())" (edit)="edit(trek)"></app-trek>
    </div>

  </mat-drawer>
  <mat-drawer-content class="main-container">
    <app-open-street-map [gpx]="displayGpx"></app-open-street-map>
  </mat-drawer-content>
</mat-drawer-container>

